.heading {
  background-color: #e5e5e5;
  height: 100px;
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-top: 40px;
  margin-right: 0;
  vertical-align: middle;
}

#tagline {
  color: orangered;
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.navbar {
  background-color: #e5e5e5;
  height: 50px;
  color: white;
  text-align: center;
}

.link {
  margin: 0 10px;
}

.webcam-modal {
  z-index: -2;
  text-align: center;
  width: 30%;
  min-width: 400px;
}

.scanner-box {
  text-align: center;
}

.modal-box {
  text-align: center;
}

h1 {
  text-align: center;
}

.images {
  max-width: 500px;
  max-height: 700px;
  height: 100%;
}

.center {
  text-align: center;
}

.product {
  max-width: 1500px;
  max-height: 1700px;
}
